sudo: required

language: python
python: "3.6"

git:
  submodules: false

before_install:
  - git submodule update --init casper
  - pip install -r requirements.txt

script:
  - pytest ethereum/tests/hybrid_casper/test_chain.py
